{% extends "mail/adminLayout.html" %}
{% load static %}

{% block content %}
<div id="dashboard">
<main class="display-block content px-3 py-2">
    <div class="container-fluid">
        <div class="mb-3">
            <h4>Admin Dashboard</h4>
        </div>
        <div class="row">
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{message}}
                </div>
            {% endfor %}
            <div class="col-12 col-md-6 d-flex" >
                <div class="card flex-fill border-0 illustration" style="background: blue; color:white;">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <div class="col-6">
                                <div class="p-3 m-1">
                                    <h4>Welcome Back, {{request.user.username.capitalize}}</h4>
                                    <p class="mb-0">Admin Dashboard, {{request.user.department}}</p>
                                </div>
                            </div>
                            <div class="col-6 align-self-end text-end">
                                <img src="image/customer-support.jpg" class="img-fluid illustration-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
                <div class="card flex-fill border-0" style="background: green; color:white;">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h4 class="mb-2">
                                    {{totalUsers}}
                                </h4>
                                <p class="mb-2">
                                    Total Users
                                </p>
                                <!-- <div class="mb-0">
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class="text-muted">
                                        Since Last Month
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Table Element -->
        <div class="card border-0">
            <div class="card-header">
                <h5 class="card-title" style="margin-bottom: 0;">
                    Recent Users
                </h5>
                <h6 style="margin-bottom: 0;">
                    Add new users
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color:unset; color: blue; border:none; margin:0;padding:0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">New User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            <div class="alert alert-info" role="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                        <form class="row g-3" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <label for="inputName4" class="form-label">Employee Name <span style="color: red;">*</span></label>
                                <div class="col">
                                <input type="text" class="form-control" name="fname" placeholder="First name" aria-label="First name" required>
                                </div>
                                <div class="col">
                                <input type="text" class="form-control" name="lname" placeholder="Last name" aria-label="Last name" required>
                                </div>
                            </div>
                            <div class="col-md-8">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-7">
                                <label for="username" class="form-label">Employee Username <span style="color: red;">*</span></label>
                                <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                            </div>
                            <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword4" required>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Confirm Password</label>
                                <input type="password" name="confirmation" class="form-control" id="inputPassword4" required>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="Department" class="form-label">Department</label>
                                <select id="inputState"  name="userDepartment" class="form-select" required>
                                    {% for department in all_department %}
                                        <option value="{{ department.department }}">{{ department.department }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6">
                            <label for="userType" class="form-label">User Type</label>
                            <select id="inputState"  name="group" class="form-select" required>
                                {% for group in groups %}
                                    <option value="{{ group.name }}">{{ group.name.capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </h6>
            </div>
            <div class="card-body">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Username</th>
                            <th scope="col">Department</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    {% for entry in last_5_users %}
                    <tbody>
                        <tr>
                            <td>{{entry.first_name}}</td>
                            <td>{{entry.last_name}}</td>
                            <td>{{entry.username}}</td>
                            <td>{{entry.department}}</td>
                            <td>{{entry.email}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>
</div>


{% endblock %}