{% extends "mail/adminLayout.html" %}
{% load static %}

{% block content %}

<!-- user tables page -->

 <div class="display-none container" id="user-tables">
    <br>
    <div class="mb-3">
        <h4>User Table</h4>
    </div>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </tfoot>
    </table>
 </div>
<!-- end of table -->

{% endblock %}